.section1{
    background-image: url('../images/acceuil/Pantherhome1.png');
    background-size: contain;
    /* width: 50%; */
    height: 40vw ;
    background-repeat: no-repeat;
    background-position: 90% 0;
}