/* import font  */
@font-face {
    font-family: Panthera;
    src: url("../fonts/Panthera/panthera.ttf");
}
@font-face {
    font-family: Cantarell;
    src: url("../fonts/Cantarell/Cantarell-Regular.ttf");
}
@font-face {
    font-family: BEYNO;
    src: url("../fonts/BEYNO/BEYNO.ttf");
}
@font-face {
    font-family: Wakanda forever;
    src: url("../fonts/Wakanda_forever/WakandaForever-Regular.ttf");
}
body{
    font-size: 1.04vw;
    font-family: 'Cantarell';
    background-image: linear-gradient(to right, #0E0E11 30%, #323C54 70%);
    color: white;
    margin: 0;
    padding: 0;
    /* animation */
    opacity: 0;
  transform: translateX(-50px);
  animation: fadeSlide 3s ease forwards;
 
}
h1{
    font-family: 'Panthera';
    font-size: 4.25em;
    color: #9E91B7;
}

h2{
    font-family: 'BEYNO';
    font-size: 2em;
    color: white;
}
h2:hover{
    color: #9E91B7;
}
nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    padding-left: 3vw;
    margin: 3%;
   
   

}
/* @keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateX(-100px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  } */
  @keyframes fadeSlide {
    0% {
      opacity: 0;
      transform: translateX(-50px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  

nav ul {
    display: flex;
    padding-right: 5%;
    list-style: none;
}
.tlogo img{
  transition: filter 0.3s;
  
}
.tlogo:hover img{
  filter: brightness(200%);
}


nav ul li {
    color: white;
    padding-right: 10%;
    justify-content: space-between;
    
}
nav ul li a{
    padding-left: -5%;
    text-decoration: none;
    font-size: 0.75em;
}
nav ul li a:hover{
    color: #9E91B7;
    text-decoration: underline;
}
nav ul li a.active {
  text-decoration: underline;
  color: violet;
}
p{
text-align: justify;
line-height: 1;
}
footer{
    display: grid;
    grid-template-columns: 40vw 60vw;
    background-image: url('../images/all/back_footer.png');
    background-repeat: no-repeat;
    background-size: cover;
   
}
.container{
    position: relative;

}

.footer1 {
    position: absolute;
    top: 5vw;
    left: 15vw;
    width: 15vw;
  }
  
  .footer2 {
    opacity: 0.5; /* ajustez l'opacité selon vos besoins */
    position: absolute;
    top: 13vw;
    left: 18vw;
    width: 8vw;
  }
 
  .container:hover{
    transform: scale(1.1);

  }
  .column2{
    padding-top: 5vw;
    display: grid;
   
    grid-template:10vw 10vw / 25vw 25vw;
    column-gap: 2vw;   
  }
  .logofooter{
    display: flex;
    list-style: none;
    align-items: center;
    /* justify-content: center; */
    padding-right: 3%;
  
  }
  .imagefooter{
  padding-right: 1vw;
  left: 1vw;
   width: 3vw;
  }
  .imagefooter:hover{
    transform: scale(1.5);
  }
  .columnfusioner{
    grid-column: 1 / 3;
   
  }
  /* ajout cercle blanc */
  .pointed-paragraph::before {
   
    content: "";
  display: inline-block;
  width: 0.6vw;
  height: 0.6vw;
  border-radius: 50%;
  background-color: white;
  margin-right: 5px;
  }
 
  /* POPUP */
  .popup {
    display: none;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    color: #DF99F2;
  }
  .popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    text-align: center;
  }
  
  #closeBtn {
    margin-top: 20px;
  }
  
  .popup.show {
    display: block;
  }



